table {
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: lightgray;
}

.num {
  text-align: right;
}
.num2 {
  text-align: center;
  vertical-align: bottom;
}
